*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --transition-duration: 0.5s;
  --transition-ease: ease-in-out;
}

body {
  font-size: 16px;
  color: #212529;
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.5em;
}

.header {
  background-color: #74c69d;
  padding: 32px 0;
}
.header .header-content {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-content .logo {
  font-family: "Crimson Text", sans-serif;
  margin-bottom: 8px;
}
.header .header-content .logo img {
  max-width: 120px;
  height: auto;
}

.custom-navbar .nav-link {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  margin-right: 3em;
}

.custom-navbar .nav-link:hover {
  color: rgb(254, 254, 88);
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  color: #ecf0f1;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.accordion-button {
  background-color: #74c69d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;
  font-size: 0.55em;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #ecf0f1;
  background-color: #74c69d;
}
.accordion-button span {
  flex: 1;
  text-align: center;
}

.accordion-body {
  padding: 16px;
  background-color: #ecf0f1;
}
.accordion-body h2 {
  font-family: "Crimson Text", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 1.5em;
  text-align: center;
}
.accordion-body p {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  max-width: 50%;
  margin: 0 auto 32px;
  margin-bottom: 32px;
}
.accordion-body .contact-form-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5em;
  margin-bottom: 32px;
}
.accordion-body .contact-form-container .contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.accordion-body .contact-form-container .contact-form label {
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
}
.accordion-body .contact-form-container .contact-form input,
.accordion-body .contact-form-container .contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.accordion-body .contact-form-container .contact-form button {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.accordion-body .contact-form-container .contact-form button:hover {
  background-color: #50b784;
}
.accordion-body .contact-form-container .map-image {
  flex: 1;
  padding-left: 16px;
  max-width: 50%;
}
.accordion-body .contact-form-container .map-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.footer {
  background-color: #74c69d;
  color: #fff;
  padding: 32px 0;
}
.footer .footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-content {
  font-family: "Work Sans", sans-serif;
  text-align: right;
}
.footer .social-links {
  display: flex;
  align-items: center;
}
.footer .social-links a {
  margin: 0 8px;
}

.hero {
  background-color: #74c69d;
  color: #fff;
  padding: 32px 0;
}
.hero .hero-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .hero-content .hero-text {
  max-width: 40%;
}
.hero .hero-content .hero-text h2 {
  font-family: "Crimson Text", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 32px;
}
.hero .hero-content .hero-text h3 {
  font-family: "Work Sans", sans-serif;
  margin-bottom: 16px;
}
.hero .hero-content .hero-text p {
  font-family: "Work Sans", sans-serif;
  margin-bottom: 32px;
}
.hero .hero-content .hero-text .explore-btn {
  background-color: #fff;
  color: #212529;
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}
.hero .hero-content .hero-text .explore-btn:hover {
  background-color: #50b784;
}
.hero .hero-content .hero-image {
  max-width: 60%;
}

.partners {
  padding: 32px 0;
  text-align: center;
}
.partners .partners-title {
  color: #74c69d;
  margin-bottom: 16px;
}
.partners .partners-text {
  max-width: 40%;
  margin: 0 auto 8px;
}
.partners .partners-text h2 {
  font-family: "Crimson Text", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}
.partners .partners-text p {
  font-family: "Work Sans", sans-serif;
  margin-bottom: 32px;
}
.partners .partners-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}
.partners .partners-list img {
  max-width: 250px;
  background-color: transparent;
  padding: 32px;
  border-radius: 4px;
}
.partners .learn-more-btn {
  display: block;
  margin: 16px auto 0;
  background-color: #212529;
  color: #fff;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.partners .learn-more-btn:hover {
  color: #50b784;
}

.section {
  padding: 16px 0;
}
.section .section-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section .section-content .section-image img {
  max-width: 100%;
  height: auto;
}
.section .section-content .section-text {
  max-width: 40%;
  padding-left: 16px;
}
.section .section-content .section-text h2 {
  font-family: "Crimson Text", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 32px;
}
.section .section-content .section-text p {
  font-family: "Work Sans", sans-serif;
  margin-bottom: 32px;
}
.section .section-content .section-text .learn-more-btn {
  background-color: #212529;
  color: #fff;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
}
.section .section-content .section-text .learn-more-btn:hover {
  color: #50b784;
}

.team {
  padding: 0;
  text-align: center;
}
.team .team-title {
  color: #74c69d;
  margin-bottom: 16px;
}
.team .team-title h3 {
  font-family: "Work Sans", sans-serif;
}
.team .team-text {
  max-width: 50%;
  margin: 0 auto 16px;
}
.team .team-text h2 {
  font-family: "Crimson Text", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}
.team .team-text p {
  font-family: "Work Sans", sans-serif;
  margin-bottom: 32px;
}
.team .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}
.team .carousel .carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.team .carousel .carousel-item {
  flex: 1 0 25%;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 0 !important;
}
.team .carousel .team-member {
  max-width: 250px;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.team .carousel .team-member .image-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 16px;
}
.team .carousel .team-member .image-container img {
  position: static;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}
.team .carousel .team-member .team-info {
  text-align: left;
}
.team .carousel .team-member .team-info h4 {
  font-family: "Crimson Text", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
.team .carousel .team-member .team-info p {
  font-family: "Work Sans", sans-serif;
  font-size: 11.2px;
}
.team .carousel .team-member:hover, .team .carousel .team-member:focus {
  filter: inherit;
  transform: scale(1.05);
}
.team .carousel .carousel-control-prev,
.team .carousel .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
}
.team .carousel .carousel-control-prev {
  left: 10px;
}
.team .carousel .carousel-control-next {
  right: 10px;
}
.team .learn-more-btn {
  background-color: #212529;
  color: #fff;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 32px;
}
.team .learn-more-btn:hover {
  color: #50b784;
}

@media (max-width: 1250px) {
  .header-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-content,
  .footer-container,
  .partners-list,
  .team-members,
  .section-content,
  .hero-content {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  .hero-content {
    flex-direction: column-reverse;
  }
  .section-2 .section-content {
    flex-direction: column-reverse;
  }
  .hero-text,
  .hero-image,
  .section-text,
  .section-image,
  .footer-content,
  .social-links {
    max-width: 80%;
    margin: 0 auto 16px;
  }
  .section h2 {
    font-size: 24px;
  }
  .section p {
    font-size: 16px;
  }
  .carousel-inner {
    flex-direction: row;
  }
  .carousel-item {
    width: 25%;
  }
  .team-member {
    max-width: 300px;
    width: 100%;
    margin: 16px auto;
  }
}
@media (max-width: 1024px) {
  .hero-text,
  .hero-image,
  .section-text,
  .section-image,
  .footer-content,
  .social-links {
    max-width: 90%;
    margin: 0 auto 16px;
  }
  .hero-content {
    flex-direction: column-reverse;
  }
  .section-2 .section-content {
    flex-direction: column-reverse;
  }
  .carousel-item {
    width: 33.33%;
  }
}
@media (max-width: 768px) {
  .section-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section-content .section-text,
  .section-content .section-image {
    max-width: 100%;
    padding: 0;
  }
  .hero-text,
  .hero-image,
  .section-text,
  .section-image,
  .footer-content,
  .social-links {
    max-width: 100%;
    margin: 0 auto 16px;
  }
  .hero-content {
    flex-direction: column-reverse;
  }
  .section-2 .section-content {
    flex-direction: column-reverse;
  }
  .carousel-item {
    width: 50%;
  }
}
.contact-form {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact-form .map-image {
  padding-left: 0;
  margin-top: 16px;
}

@media (max-width: 576px) {
  .hero-text,
  .hero-image,
  .section-text,
  .section-image,
  .social-links {
    max-width: 100% !important;
    margin: 0 auto 16px;
    text-align: left;
  }
  .hero-content {
    flex-direction: column-reverse;
  }
  .section-2 .section-content {
    flex-direction: column-reverse;
  }
  .partners-text,
  .team-text,
  .accordion-body p {
    max-width: 80% !important;
  }
  .partners-list,
  .carousel-inner,
  .section-content,
  .section-image,
  .hero-image,
  .team-member .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .team-member {
    margin: 16px auto;
    max-width: 350px !important;
  }
  .team-member img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .team-info {
    text-align: left;
  }
  .team-info h4 {
    font-size: 1.2em !important;
  }
  .team-info p {
    font-size: 1em !important;
  }
  .contact-form-container {
    flex-direction: column;
  }
  .contact-form-container .map-image {
    order: -1;
    padding-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 16px;
    max-width: 100% !important;
  }
  .contact-form-container .contact-form {
    order: 1;
    max-width: 100% !important;
  }
  .footer {
    padding: 8px;
  }
  .footer .footer-container {
    margin-top: 32px;
  }
}
.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

/*# sourceMappingURL=styles.css.map */
