// Component styles
.hero {
  background-color: $primary-color;
  color: #fff;
  padding: $large-spacing 0;

  .hero-content {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;

    .hero-text {
      max-width: 40%;
      h2 {
        font-family: $base-font;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: $large-spacing;
      }

      h3 {
        font-family: $second-font;
        margin-bottom: $base-spacing;
      }

      p {
        font-family: $second-font;
        margin-bottom: $large-spacing;
      }

      .explore-btn {
        background-color: $link-color;
        color: $text-color;
        padding: $small-spacing $large-spacing;

        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: $small-spacing;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }

    .hero-image {
      max-width: 60%; // Adjusted for better layout balance
    }
  }
}

// Partners

.partners {
  padding: $large-spacing 0;
  text-align: center;

  .partners-title {
    color: $primary-color;
    margin-bottom: $base-spacing;
  }

  .partners-text {
    max-width: 40%;
    margin: 0 auto $small-spacing;

    h2 {
      font-family: $base-font;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: $base-spacing;
    }

    p {
      font-family: $second-font;
      margin-bottom: $large-spacing;
    }
  }

  .partners-list {
    @include flex-center;
    flex-wrap: wrap;
    gap: $base-spacing;
    margin-bottom: $base-spacing;

    img {
      max-width: 250px;
      background-color: transparent;
      padding: $large-spacing;
      border-radius: 4px;
    }
  }

  .learn-more-btn {
    display: block;
    margin: $base-spacing auto 0;
    background-color: $text-color;
    color: $link-color;
    padding: $small-spacing $medium-spacing;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      color: darken($primary-color, 10%);
    }
  }
}

// Sections

.section {
  padding: $base-spacing 0;

  .section-content {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .section-image {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .section-text {
      max-width: 40%;
      padding-left: $base-spacing;

      h2 {
        font-family: $base-font;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: $large-spacing;
      }

      p {
        font-family: $second-font;
        margin-bottom: $large-spacing;
      }

      .learn-more-btn {
        background-color: $text-color;
        color: $link-color;
        padding: $small-spacing $medium-spacing;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: $base-spacing;
        margin-bottom: $base-spacing;

        &:hover {
          color: darken($primary-color, 10%);
        }
      }
    }
  }
}

// Our Talents TEAM

.team {
  padding: 0;
  text-align: center;

  .team-title {
    h3 {
      font-family: $second-font;
    }

    color: $primary-color;
    margin-bottom: $base-spacing;
  }

  .team-text {
    max-width: 50%;
    margin: 0 auto $base-spacing;

    h2 {
      font-family: $base-font;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: $base-spacing;
    }

    p {
      font-family: $second-font;
      margin-bottom: $large-spacing;
    }
  }

  // aka CAROUSEL

  .carousel {
    @include flex-center;
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;

    .carousel-inner {
      @include flex-center;
      overflow: hidden;
    }

    .carousel-item {
      // 4 items per view
      flex: 1 0 25%;
      padding: 10px;
      box-sizing: border-box;
      margin-right: 0 !important;
    }

    .team-member {
      max-width: 250px;
      width: 100%;
      margin: 0;
      text-align: center;
      padding: $small-spacing;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      .image-container {
        width: 100%;

        position: relative;
        overflow: hidden;
        border-radius: 4px;
        margin-bottom: $base-spacing;

        img {
          position: static; // Changed from absolute to static
          width: auto;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .team-info {
        text-align: left;

        h4 {
          font-family: $base-font;
          font-size: $base-font-size;
          font-weight: bold;
          margin-bottom: $base-spacing;
        }

        p {
          font-family: $second-font;
          font-size: $base-font-size * 0.7;
        }
      }

      &:hover,
      &:focus {
        filter: inherit;
        transform: scale(1.05);
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      background-color: rgba(0, 0, 0, 0.7);
      border: none;
      color: #fff;
      padding: 10px;
      cursor: pointer;
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
      width: auto;
      height: auto;
    }

    .carousel-control-prev {
      left: 10px;
    }

    .carousel-control-next {
      right: 10px;
    }
  }

  .learn-more-btn {
    background-color: $text-color;
    color: $link-color;
    padding: $small-spacing $medium-spacing;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: $base-spacing;
    margin-bottom: $large-spacing;

    &:hover {
      color: darken($primary-color, 10%);
    }
  }
}

//  Contact Us/Accordion is in 04_layout.scss
